<!-- UWEB -->
<!-- Fix routes and add class "active" tu current section -->
<nav class="admin-sidebar">
  <ul id="moderation_menu">
    <li>
      <%= link_to t("management.dashboard.index.title"), moderation_root_path %>
    </li>

    <li <%= "class=active" if controller_name == "index" %>>
      <%= link_to "/offices/users" do %>
        <i class="icon-user"></i>
        <%= t("management.menu.users") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "users" %>>
      <%= link_to "/offices/create_proposal" do %>
        <i class="icon-proposals"></i>
        <%= t("management.menu.create_proposal") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "bulk" %>>
      <%= link_to "/offices/support_proposal" do %>
        <i class="icon-like"></i>
        <%= t("management.menu.support_proposal") %>
      <% end %>
    </li>

    <li <%= "class=active" if controller_name == "comments" %>>
      <%= link_to "/offices/print_proposal" do %>
        <i class="icon-print"></i>
        <%= t("management.menu.print_proposal") %>
      <% end %>
    </li>
  </ul>
</nav>
