<!-- UWEB -->
<h2>
  <%= t("manage.create_proposal.title") %>
  <!-- when login, show login as -->
    <span class="login-as right"><strong>Nombre de usuario <%#= @user.name %></strong> (Email si ya lo tiene<%#= @user.email %>)</span>
  <!-- /. when login, show login as -->
</h2>

<form>
  <div class="row">
    <div class="small-12 medium-6 column small-centered">

      <label><%= t("manage.create_proposal.login_label") %></label>
      <input type="text" placeholder="<%= t("manage.create_proposal.login_label") %>">

      <label> <%= t("manage.create_proposal.login_password_label") %></label>
      <input type="password" placeholder="<%= t('manage.create_proposal.login_password_label')%>">

      <input type="submit" value="<%= t('manage.create_proposal.login_submit') %>" class="button radius expand">
    </div>
  </div>
</form>

<!-- When worker login show here the same form of "/proposals/_form.html.erb" without terms checkbox and captcha -->
