<!-- UWEB -->
<h2><%= t("manage.create_user.title") %></h2>

<!-- DELETE ME -->
<span style="color: red;">El funcionario rellena lo siguiente. El email PUEDE estar vacío (seleccionando el checkbox el campo email se pone disabled).<br> La contraseña se genera de forma automática.</span>
<!-- /.DELETE ME -->

<%= form_for :create_user do |f| %>
  <div class="row">
    <div class="small-12 medium-9 column">

      <%= f.label_tag t("manage.create_user.username_label") %>
      <%= f.text_field  :username, maxlength: User.username_max_length, placeholder: t("manage.create_user.username_label"), label: false %>

      <%= f.email_field :email, placeholder: t("manage.create_user.email_label") %>

      <%= f.label :remember_me do %>
        <%= f.check_box :remember_me, label: false %>
        <span class="checkbox"><%= t("manage.create_user.no_email") %></span>
      <% end %>

      <%= f.submit t("manage.create_user.submit"), class: "button radius expand" %>
    </div>
  </div>
<% end %>

<!-- DELETE ME -->
<span style="color: red;">Una vez creado el usuario aparece este bloque.</span>
<!-- /.DELETE ME -->

<div class="alert-box success radius">
  <%= t("manage.create_user.success") %>
</div>

<div class="row">
  <div class="small-12 medium-9 column">
    <div id="printme">
      <h2><%= t("manage.create_user.data") %></h2>

      <p><strong><%= t("manage.create_user.username") %></strong> alberto</p>
      <p><strong><%= t("manage.create_user.email") %></strong> alberto@mail.com </p>
      <p><strong><%= t("manage.create_user.password") %></strong> Alj7F6r2</p>
    </div>

    <a onclick="print();" class="button warning radius"><%= t("manage.create_user.print") %></a>
  </div>
</div>

<!-- DELETE ME -->
<span style="color: red;">Al pulsar en imprimir se abren los datos en una pestaña aparte. Ya he puesto un pequeño script que hace eso :)</span>
<!-- /.DELETE ME -->

<!-- Maybe something like this works for print data -->
<script type="text/javascript">
  function print(){
    var object=document.getElementById('printme');
    var browser=window.open('','_blank');
    browser.document.write(object.innerHTML);
    browser.document.close();
    browser.print();
    browser.close();
  }
</script>
<!-- /. Maybe something like this works for print data -->