<!-- UWEB -->
<h2>
  <%= t("manage.create_proposal.title") %>
  <!-- when login, show login as -->
    <span class="login-as right"><%= t("manage.login_as") %> <strong>decabeza <%#= @user.name %>| alberto@mail.com | 72894561D </strong> <%= link_to t("manage.logout"), "#" %></span>
  <!-- /. when login, show login as -->
</h2>

<!-- DELETE ME -->
<span style="color: red;">
El funcionario se identifica con nombre de usuario/email y contraseña. Aquí el DNI NO hace falta para nada.
</span>
<!-- /.DELETE ME -->

<form>
  <div class="row">
    <div class="small-12 medium-6 column">

      <label><%= t("manage.create_proposal.login_label") %></label>
      <input type="text" placeholder="<%= t("manage.create_proposal.login_label") %>">

      <label> <%= t("manage.create_proposal.login_password_label") %></label>
      <input type="password" placeholder="<%= t('manage.create_proposal.login_password_label')%>">

      <input type="submit" value="<%= t('manage.create_proposal.login_submit') %>" class="button radius expand">
    </div>
  </div>
</form>

<!-- DELETE ME -->
<span style="color: red;">
Una vez logueado aparecen los datos del bloque gris de arriba a la derecha.<br>
Y aparece el mismo formulario de "/proposals/_form.html.erb" sin el "checkbox de Acepto condiciones..." ni el "captcha".
</span>
<!-- /.DELETE ME -->
