<!-- UWEB -->
<h2>
  <%= t("manage.support_proposal.title") %>
  <!-- when login, show login as -->
    <span class="login-as right"><%= t("manage.login_as") %> <strong>DNI</strong>  <%= link_to t("manage.logout"), "#" %></span>
  <!-- /. when login, show login as -->
</h2>

<!-- DELETE ME -->
<span style="color: red;">
Como para apoyar una propuesta tiene que ser un usuario verificado, el usuario SIEMPRE tendrá que dar el DNI.
</span>
<!-- /.DELETE ME -->

<div class="row">
  <div class="small-12 medium-6 column">
    <form>
      <label><%= t("manage.support_proposal.document_type_label") %></label>
      <select>
        <option><%= t("manage.support_proposal.document_type.spanish_id") %></option>
        <option><%= t("manage.support_proposal.document_type.passport") %></option>
        <option><%= t("manage.support_proposal.document_type.residence_card") %></option>
      </select>

      <label><%= t("manage.support_proposal.document_number") %></label>
      <input type="text" placeholder="<%= t('manage.support_proposal.document_number') %>">
      <input type="submit" value="<%= t('manage.support_proposal.login_submit') %>" class="button radius expand">
    </form>
  </div>
</div>

<!-- DELETE ME -->
<span style="color: red;">
Una vez logueado aparecen los datos del bloque gris de arriba a la derecha.<br>
Y aparece un buscador de propuestas por: título, contenido, autor y código de propuesta.
</span>
<!-- /.DELETE ME -->

<form>
  <div class="row">
    <div class="small-9 column">
      <div class="row collapse">
        <div class="small-10 column">
          <input type="text" placeholder="<%= t('manage.support_proposal.search_placeholder') %>">
        </div>
        <div class="small-2 column">
          <a href="#" class="button postfix radius success"><%= t("manage.support_proposal.search") %></a>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- DELETE ME -->
<span style="color: red;">
Se muestran los resultados de búsqueda al igual que en "/proposals?utf8=✓&search=X" y se apoyan de la misma manera.
</span>
<!-- /.DELETE ME -->