<!-- UWEB -->
<!-- DELETE ME -->
<span style="color: red;">
El empleado se identifica SIEMPRE con DNI.
</span>
<!-- /.DELETE ME -->

<h2><%= t("management.support_proposal.title") %></h2>

<div class="row">
  <div class="small-12 medium-8 column">
    <form>
      <div class="small-12 medium-4">
        <label><%= t("management.document_type_label") %></label>
        <select>
          <option><%= t("management.document_type.spanish_id") %></option>
          <option><%= t("management.document_type.passport") %></option>
          <option><%= t("management.document_type.residence_card") %></option>
        </select>
      </div>
      <div class="small-12 medium-5">
        <label><%= t("management.document_number") %></label>
        <input type="text" placeholder="<%= t('management.document_number') %>">
        <input type="submit" value="<%= t('management.login') %>" class="button radius">
      </div>
    </form>
  </div>
</div>

<!-- DELETE ME -->
<span style="color: red;">
Una vez logueado aparecen los datos del usuario.<br>
Y aparece un buscador de propuestas por: título, contenido, autor y código de propuesta.
</span>
<!-- /.DELETE ME -->

<p class="account-info"><%= t("management.document_type_label") %> <strong>DNI</strong>  <%= t("management.document_number") %> <strong>73562454D</strong>  <%= t("management.username_label") %> <strong>Alberto</strong>  <%= t("management.email_label") %> <strong>alberto@mail.com</strong> <%= link_to t("management.logout"), "#", class: "right" %></p>

<form>
  <div class="row">
    <div class="small-9 column">
      <div class="row collapse">
        <div class="small-10 column">
          <input type="text" placeholder="<%= t('management.support_proposal.search_placeholder') %>">
        </div>
        <div class="small-2 column">
          <a href="#" class="button postfix radius success"><%= t("management.support_proposal.search") %></a>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- DELETE ME -->
<span style="color: red;">
Se muestran los resultados de búsqueda al igual que en "/proposals?utf8=✓&search=X" y se apoyan de la misma manera.
</span>
<!-- /.DELETE ME -->