<!-- UWEB -->
<h2><%= t("manage.users.title") %></h2>

<!-- DELETE ME -->
<p style="color: red;">1. El <em>gestor</em> SIEMPRE solicita el DNI al <em>usuario</em>.</p>
<!-- /.DELETE ME -->

<div class="row">
  <div class="small-12 medium-8 column">
    <form>
      <div class="small-12 medium-4">
        <label><%= t("manage.users.document_type_label") %></label>
        <select>
          <option><%= t("manage.users.document_type.spanish_id") %></option>
          <option><%= t("manage.users.document_type.passport") %></option>
          <option><%= t("manage.users.document_type.residence_card") %></option>
        </select>
      </div>
      <div class="small-12 medium-5">
        <label><%= t("manage.users.document_number") %></label>
        <input type="text" placeholder="<%= t('manage.users.document_number') %>">
        <input type="submit" value="<%= t('manage.users.check') %>" class="button radius">
      </div>
    </form>
  </div>
</div>

<!-- DELETE ME -->
<p style="color: red;">2. Se verifica con nuestra base de datos (ver si tiene cuenta asociada) y después con el padrón:<br>
2.1. Si este DNI no tiene una cuenta asociada y NO ESTÁ empadronado en el municipio de Madrid</p>
<!-- ⁄. DELETE ME -->

<div class="alert-box alert radius">
  <%= t("manage.users.census_error") %>
</div>

<!-- DELETE ME -->
<p style="color: red;">2.2. Si este DNI tiene una cuenta asociada y ESTÁ empadronado en el municipio de Madrid</p>
<!-- ⁄. DELETE ME -->

<div class="alert-box success radius">
  <%= t("manage.users.census_success_account") %>
</div>

<div id="printmycode">
  <h2><%= t("manage.users.verify_title") %></h2>
  <p><strong><%= t("manage.users.document") %></strong> 73452673D</p>
  <p><strong><%= t("manage.users.username") %></strong> alberto</p>
  <p><strong><%= t("manage.users.email") %></strong> alberto@mail.com </p>
</div>

<a href="#" class="button success radius"><%= t("manage.users.verify_user") %></a>

<div class="alert-box success radius">
  <%= t("manage.users.verify_success") %>
</div>

<!-- DELETE ME -->
<p style="color: red;">2.3. Si este DNI tiene una cuenta asociada y ya está verificado (Nivel 3)</p>
<!-- ⁄. DELETE ME -->

<div class="alert-box success radius">
  <%= t("manage.users.already_verify") %>
</div>

<!-- DELETE ME -->
<p style="color: red;">2.4. Si este DNI NO TIENE una cuenta asociada pero está en el Padrón aparece esto:</p>
<!-- ⁄. DELETE ME -->

<div class="alert-box success radius">
  <%= t("manage.users.census_success") %>
</div>

<p><%= t("manage.users.has_account") %></p>

<form>
  <input type="text" placeholder="<%= t('manage.users.search_user_placeholder') %>">
  <input type="submit" class="button radius" value="<%= t("manage.users.send_email") %>">
</form>

<div class="alert-box success radius">
  <%= t("manage.users.email_sent") %>
</div>

<p>
  <%= t("manage.users.not_has_account",
    create: link_to(t("manage.users.create_account"), "#")).html_safe %>
</p>

<h2>
  <%= t("manage.users.create_user") %>
</h2>

<div class="user-permissions">

  <p><%= t("manage.users.user_level_info") %></p>

  <ul>
    <li><i class="icon-check"></i> <%= t("manage.users.user_permission_debates") %></li>
    <li><i class="icon-check"></i> <%= t("manage.users.user_permission_proposal") %></li>
    <li><i class="icon-check"></i> <%= t("manage.users.user_permission_support_proposal") %></li>
    <li><i class="icon-check"></i> <%= t("manage.users.user_permission_votes") %></li>
  </ul>
</div>

<div class="row">
  <div class="small-12 medium-9 column">
  <form>
    <label><%= t("manage.users.document_label") %></label>
    <input type="text" placeholder="73529735R" disabled>

    <label><%= t("manage.users.username_label") %></label>
    <input type="text" placeholder="<%= t('manage.users.username_label')%>">

    <label><%= t('manage.users.email_label')%></label>
    <input type="text" placeholder="<%= t('manage.users.email_label')%>">

    <label><%= t('manage.users.password_label')%></label>
    <input type="text" placeholder="<%= t('manage.users.password_label')%>">

    <input type="submit" value="<%= t('manage.users.submit') %>" class="button radius success expand">
    </form>
  </div>
</div>

<div class="alert-box success radius">
  <%= t("manage.users.success") %>
</div>
