<!-- UWEB -->
<h2><%= t("manage.verify_user.verify_user") %></h2>

<!-- DELETE ME -->
<span style="color: red;">
El funcionario SIEMPRE pedirá el DNI.<br>
- Opción 1: el usuario NO ESTÁ REGISTRADO todavía (el funcionario le crea un usuario y viene a la opción 2)<br>
- Opción 2: el usuario YA ESTÁ REGISTRADO pero NO ha verificado su residencia.
</span>
<!-- /.DELETE ME -->

<div class="row">
  <div class="small-12 medium-8 column">
    <form>
      <div class="small-12 medium-4">
        <label><%= t("manage.verify_user.document_type_label") %></label>
        <select>
          <option><%= t("manage.verify_user.document_type.spanish_id") %></option>
          <option><%= t("manage.verify_user.document_type.passport") %></option>
          <option><%= t("manage.verify_user.document_type.residence_card") %></option>
        </select>
      </div>
      <div class="small-12 medium-5">
        <label><%= t("manage.verify_user.document_number") %></label>
        <input type="text" placeholder="<%= t('manage.verify_user.document_number') %>">
        <input type="submit" value="<%= t('manage.verify_user.check') %>" class="button radius">
      </div>
    </form>
  </div>
</div>

<div class="alert-box warning radius">
  <%= t("manage.verify_user.residence_not_verified") %>
</div>

<form>
  <div class="date small-12 medium-6">
    <label><%= t("manage.verify_user.date_of_birth") %></label>
    <select></select>
      <%#= f.date_select :date_of_birth,
                prompt: true,
                start_year: 1900, end_year: 16.years.ago.year,
                label: false %>

    <label><%= t("manage.verify_user.postal_code") %></label>
    <input type="text" placeholder="<%= t('manage.verify_user.postal_code') %>">

    <input type="submit" value="<%= t('manage.verify_user.verify_residence') %>" class="button success radius">
  </div>
</form>

<!-- DELETE ME -->
<span style="color: red;">
Si falla dará el error de Padrón.
</span>
<!-- /.DELETE ME -->

<div class="alert-box alert radius">
  <%= t("manage.verify_user.census_error") %>
</div>

<!-- DELETE ME -->
<span style="color: red;">
- Opción 3: el usuario YA ESTÁ REGISTRADO Y ha verificado su residencia. (Lo mismo si es correcta la validación de residencia en el paso 2)<br>
Al verificar que los datos de Padrón son correctos automáticamente se genera el código de seguridad.
</span>
<!-- /.DELETE ME -->

<div class="alert-box success radius">
  <%= t("manage.verify_user.residence_success") %>
</div>

<div id="printme">
  <h2><%= t("manage.verify_user.code") %></h2>
  <p><strong>564325</strong></p>
</div>

<a onclick="print();" class="button warning radius"><%= t("manage.verify_user.print_code") %></a>
<a href="#" class="button success radius"><%= t("manage.verify_user.verify_user") %></a>

<!-- Maybe something like this works for print data -->
<script type="text/javascript">
  function print(){
    var object=document.getElementById('printme');
    var browser=window.open('','_blank');
    browser.document.write(object.innerHTML);
    browser.document.close();
    browser.print();
    browser.close();
  }
</script>
<!-- /. Maybe something like this works for print data -->

<!-- DELETE ME -->
<span class="clear" style="color: red; display: block;">
Si se le imprime el código el usuario lo hace en casa felizmente. Si se le verifica en este momento se convierte a usuario de Nivel 3.
</span>
<!-- /.DELETE ME -->

<div class="alert-box success radius">
  <%= t("manage.verify_user.verify_success") %>
</div>