<header class="<%= header_css %>">
  <div class="contain-to-grid clear">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="toggle-topbar menu-icon"><a href="#"><span><%= t("application.menu")%></span></a></li>
        <li class="name">
          <%= link_to root_path do %>
            <%= image_tag('header_logo_udc.png', class: 'show-for-medium-up left', alt: t("layouts.header.logo")) %>
            <%= t("layouts.header.open_gov", open: "#{t('layouts.header.open')}").html_safe %> <span>|</span>
            <span class="logo-site">
              <%= t("layouts.header.participation") %>
            </span>
          <% end %>
        </li>
      </ul>

      <section class="top-bar-section">
        <%= render "devise/menu/login_items" %>
        <%= render "shared/admin_login_items" %>
      </section>
    </nav>
  </div>

  <div class="row-full subnavigation-container">
    <section class="subnavigation row">
      <div class="small-12 medium-8 column">
      <%= link_to t("layouts.header.highlights"), highlights_path, class: ("active" if current_page? highlights_path) %>
      <%= link_to t("layouts.header.debates"), debates_path, class: ("active" if current_page?(controller: "/debates")) %>
      <%= link_to t("layouts.header.proposals"), proposals_path, class: ("active" if current_page?(controller: "/proposals")) %>
      <%= link_to t("layouts.header.more_information"), more_information_path, class: ("active" if current_page?("/more_information"))  %>
      </div>
      <div class="small-12 medium-4 column right">
        <%= yield :header_addon %>
      </div>
    </section>
  </div>


  <% if home_page? %>
    <div class="row home-page">
      <div class="small-12 medium-7 column">
        <h1><%= t("layouts.header.open_city_title") %></h1>
        <h2><%= t("layouts.header.open_city_slogan_html") %></h2>
        <%= link_to t("layouts.header.see_all"), proposals_path, class: "button radius see-more warning" %>
        <%= link_to t("layouts.header.more_information"), more_information_path, class: "more-info" %>
      </div>

      <div class="show-for-medium-up small-12 medium-5 column text-center">
        <i class="icon-debates icon-home-big"></i>
        <i class="icon-debates icon-home-small"></i>
      </div>
    </div>
  <% end %>
</header>
